@model GabinetKosmetyczny.zabiegi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>zabiegi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.termin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wykonano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wykonano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.klienci.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klienci.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typ_zabiegu.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typ_zabiegu.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_zabiegu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
