@model IEnumerable<GabinetKosmetyczny.typ_zabiegu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.czastrwania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gabinety1.id_gabinetu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pracownicy.imie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.czastrwania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gabinety1.id_gabinetu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pracownicy.imie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_zabiegu }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_zabiegu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_zabiegu })
        </td>
    </tr>
}

</table>
