@model GabinetKosmetyczny.gabinety

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gabinety</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wielkosc_m2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wielkosc_m2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pomieszczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pomieszczenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_gabinetu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
