@model GabinetKosmetyczny.produkty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>produkty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_produktu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
